main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: inherit;
  position: relative;
  flex-direction: column;

  .container {
    display: flex;
    justify-content: center;
    flex: row;
    gap: 4rem;
    align-items: space-between;
    color: white;
  }
}
