<div class="container">
    @if(currentCharacter){
    <div class="view">
        <div class="info">
            <div>
                <h1 style="color: white;">{{ currentCharacter.name }}</h1>
                <p style="color: rgb(0, 174, 255);"><span style="color: red;">Ability: </span>{{
                    currentCharacter.abilities }}</p>
                <p style="color: rgb(0, 174, 255);"><span style="color: red;">Quote: </span>"{{ currentCharacter.quotes
                    }}"</p>
                <p style="color: white;">{{ currentCharacter.description }}</p>
            </div>
        </div>
        <div class="backg">
            @if(currentCharacter.name == 'Kunikida'){
            <img [src]="currentCharacter.background" [alt]="currentCharacter.name" width="300">
            } @else {
            <img [src]="currentCharacter.background" [alt]="currentCharacter.name" width="450">
            }

        </div>
    </div>
    }
</div>