@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include flex;
  height: 100vh;
  width: 100%;

  .view {
    @include flex;
    flex-direction: row;
    gap: 2rem;
    background-color: rgba(128, 128, 128, 0.21);
    width: 75%;
    height: 90vh;
    animation: rain-border 4s infinite;
    border-radius: 15px;
    padding: 5px;
    background-image: url("../../assets//background.svg");
    background-repeat: no-repeat;
    background-size: cover;

    .backg {
      margin-top: 10px;
      margin-left: auto;
      padding: 5px;

      img {
        animation: 4s rain-border infinite;
        border-radius: 15px;
      }
    }

    .info {
      padding: 10px;
      width: 90%;
      max-height: 100%;
      overflow: auto;

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container .view {
    width: 90%;
  }
}

@keyframes rain-border {
  0% {
    border: 5px solid rgb(255, 0, 0);
  }
  50% {
    border: 5px solid rgb(0, 179, 255);
  }
  100% {
    border: 5px solid rgb(255, 0, 0);
  }
}
